.users {
    min-height: 100%;
    color: #292929;
    /*background-color: #98d7fc;*/
}

.users__title {
    margin: 0 0 20px;
}

.users__load-btn {
    display: inline-block;
    margin: 0 0 25px;
    padding: 8px 15px;
    /* min-width: 50px; */
    text-align: center;
    vertical-align: middle;
    /* font-size: 18px; */
    /* line-height: 24px; */
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 0 2px 5px rgb(16, 234, 52);
    background-image: linear-gradient(to bottom, #49f243 0%, #138df8 100%);
    box-shadow: 0 2px 2px rgba(16, 234, 52, 0.76);
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}

.users__wrapper {
    display: grid;
    grid-template-columns: 20% 1fr;
    margin-bottom: 20px;
    padding: 5px 0;
    border: 1px solid #292929;
    border-radius: 10px;
    box-shadow: 1px 3px 7px 1px grey;
}

.users__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users__info img {
    width: 45%;
    margin-bottom: 15px;
    height: auto;
}

.users__info button {
    padding: 8px 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(5, 163, 5);
    border: none;
    border-radius: 10px;
}

.users__content {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.users__content-left,
.users__content-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.users__content-left h3 {
    margin: 0;
}

.users__content-left p,
.users__content-right p {
    margin: 0;
}
